body {font-family: Arial;}

/* Style the tab */
.tab {
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-image: url("img/jpg/bookwithletters.jpg");
   /* background-color: #d92323;*/
    color: white;
    width:50vw;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    color: white;
    background-color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    align-content:center;
    margin-left: 25%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color:white;
    width: 50vw;
    height: auto;

}
.paper{
    background-image: url("img/jpg/paper.jpg");
}

