
body{
    background-color: black;

}
.obr {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
.harry{
    width:40vw;
    padding-left: 0vw;
    margin-top: 0vw;
    border-radius: 10px;

}

.nadpisHarry {
    color:darkgoldenrod;
    font-family: "Monotype Corsiva";
    font-size: 4vw;
    font-style: oblique;


}

.cinema{
    width:55vw;
    margin-left: 40vw;
    margin-top: 30vh;
    border-radius: 10px;

}

.nadpisCinema {
    color:silver;
    font-family: "Bookman Old Style";
    font-size: 2.5vw;
}
.navbar-custom {
    background-color: black;
}



div.flip-box {
    margin-left: 25%;
    margin-top: 3vw;
    float: left;
    width: 50vw;
    height: 25vw;
    perspective: 1000px;

}


.flip-box-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {

}

.flip-box-back {
    border: 1px solid gold ;
    background-color: #555;
    color: white;
    transform: rotateX(180deg);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
